<!-- <h1>Listing events</h1> -->

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->
<article id="events">

    <% @events.each do |event| %>
  <section>
      
          <h1><%= event.title %></h1>
          <h2>Date of Event: <%= event.date %></h2>
          <p><%= event.description %></p>
        <p>
          <%= link_to 'Show', event %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
       </p>

    </section>
  <% end %>
  
  <section>
    <%= link_to 'New Event', new_event_path %>
    </section>
    </article>